@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<p>@Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<h4>Add a new machine</h4>
<hr><br>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Model)<br>

    @Html.TextBoxFor(model => model.Model)<br>

    <input type="submit" value="Add new machine" class="btn btn-primary" />
}

<p>@Html.ActionLink("Show all machines", "Index")</p>
